.ff_ajax .loop {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.item-sample {
    border: 1px solid #eee;
    padding: 10px 20px;
}

.ff_ajax_filter_buttons button.selected {
    background: #eee;
}